<html>
<head>
	<title>Registration</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>	
<body>
<h1 align="center" >Registration</h1>
<div ng-app="" ng-controller="Controller">
    Enter n1:<input type="text" ng-model="Text.name1"><br>
    Enter n2:<input type="text" ng-model="Text.name2"><br>
    <p> You are entering: {{Text.display()}}</p>
    </div>
    <script>
        function Controller($scope){
            $scope.Text{
                name1="Mahesh",
                name2="Bhatt",
                display : function(){
                    var x=Scope.Text;
                    return x.name1;
                }
            };
        }
            
        
    </script>

</body>
</html>
